.row.content p {
	margin: 5px;
}
.row.content {
	min-height: 78vh;
	overflow: auto;
	margin-left: 5px;
	margin-top: 10px;
}
ul#notes-list {
	list-style-type: none;
}
.dt.row {
	font-size: 12px;
}
#sidelinks .nt {
    cursor: pointer;
}
#sidelinks .dt {
    font-size: 15px;
}
table.content td {
    vertical-align: top;
}
aside.single_sidebar_widget.post_category_widget ul{
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
td {
    word-wrap: break-word;
    padding: 5px;
}

.row {
    margin-bottom: 5px;
}
.content {
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid #bfb1b1;
    border-radius: 4px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.action {
    margin-bottom: 5px;
}

img {
    cursor: pointer;
}
header.masthead{
    margin-top: 100px;
}
header.masthead .page-heading, header.masthead .site-heading {
    text-align: left;
}
h4#nheader {
    position: absolute;
    right: 0;
    margin-right: 40px;
}
h4.widget_title {
    margin-left: 22px;
}
input#tsearch {
    margin-left: 10px;
}
img.add-new:hover {
    width: 40px;
}
img.add-new {
    width: 35px;
    cursor: pointer;
    position: absolute;
    left: 161px;
    top: 50px;
}
img.ldata {
    width: 50px;
    cursor: pointer;
}
ul.hidden-md-down.ldata {
    position: absolute;
    right: 0;
    margin-top: 43px;
    width: auto;
}
ul.hidden-md-down.ldata li {
    list-style-type: none;
    margin-bottom: 5px;
    text-align: right;
}
.showme{ 
display: none;
margin-top: -45px;
}
.showme li{ 
width: 210px;
}
.showhim {
    position: absolute;
    right: 0;
    text-transform: capitalize;
}
.showhim:hover .showme{
display : block;
position: absolute;
right: 0;
}
.showhim:hover .ok{
display : none;
}
li.unm {
    background-color: wheat;
    padding-left: 5px;
    padding-right: 5px;
}
.row.header {
    margin-left: 5px;
    position: absolute;
    top: 0;
    border-bottom: 3px solid wheat;
    padding-left: 5px;
    padding-right: 5px;
}
.ndt{
    position: absolute;
    right: 0px;
    bottom: -5px;
    font-size: 12px;
    font-weight: bold;
    font-family: unset;
    margin-right: 30px;
    margin-bottom: -5px;
}
h4#nheader img:hover {
    width: 27px;
}
.ldata span.btn-primary{
    cursor: pointer;   
}
.nlme li{ 
    width: 210px;
}
.nav-link:hover .nlme{
    display:inline;
}
.nlme{
    display: none;
}
.nlme ul li{
    border-bottom: 1px solid;
}
.nlme ul {
    position: absolute;
    background: #e7eaed;
    list-style: none;
    width: 155px;
    padding: 0;
}
.row{
    margin-left:0;
}