body,html{
  overflow-x:hidden;
}

body {
  overflow-x: hidden !important;
}



ul{
  padding: 0;
  margin: 0;
  list-style: none;
}



a{ 
  text-decoration: none;
  color: #2f2f2f;
}

a:focus{

  outline: none;

  text-decoration: none;

}



h1,h2,h3,h4,h5,h6{

	font-family: 'Varela', sans-serif;	

}



h2 {

  color: #313338;  

  font-size: 30px;

  font-weight: 700;

  line-height: 40px;

  margin: 0;

  padding-bottom: 10px;  

}

img{

 border:none;

}



/* Preloader */

#preloader {

  position: fixed;

  top:0;

  left:0;

  right:0;

  bottom:0;

  background-color:#000; /* change if the mask should have another color then white */

  z-index:99999; /* makes sure it stays on top */

}



#status {

  width:200px;

  height:200px;

  position:absolute;

  left:50%; /* centers the loading animation horizontally one the screen */

  top:50%; /* centers the loading animation vertically one the screen */

  background-image:url(img/status.GIF); /* path to your loading animation */

  background-repeat:no-repeat;

  background-position:center;

  margin:-100px 0 0 -100px; /* is width and height divided by two */

}



/*scrol to top*/



.scrollToTop {

  background: url("img/bootom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;

  border: 3px solid #f0f1f3;

  border-radius: 5px;

  bottom: 20px;

  display: inline-block;

  height: 54px;

  opacity: 0;

  position: fixed;

  right: 20px;

  text-align: center;

  width: 54px;

  z-index: 100;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;



}

.scrollToTop:hover{

  background-position: 13px -50px;  

  text-decoration: none;

  outline: none;

}



/*--------------------*/

/* HOME HEADER */

/*--------------------*/



#header{

	float: left;

	display: inline;

	width: 100%;

  background-color: #313b3d;	

}



/*--------.menu_area-------- */

.menu_area{

  float: left;

  display: inline;

  width: 100%;

}

.navbar-default .navbar-brand {

  color: #fff;

  font-size: 25px;

  font-weight: bold;

  margin-top: 15px; 

}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {

  background-color: transparent;

  color: #fff;

}

.navbar-default {

  background-color: #313b3d;

  border-color: transparent;

}

#navbar{overflow-x: hidden;}

.navbar-default .navbar-nav > li > a {

  color: #fff;

  padding: 30px 15px;

  text-transform: uppercase;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {

  background-color: transparent;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {

  background-color: transparent;

}

.navbar-nav > li > .dropdown-menu {
  padding: 0;
  background-color: #48575a; 
}

.navbar-nav > li > .dropdown-menu:before { 

  border-bottom: 15px solid #48575a; 

  border-left: 15px solid transparent;

  border-right: 15px solid transparent;

  content: "";

  height: 0;

  position: absolute;

  right: 25px;

  top: -15px;

  width: 0;

}

.navbar-nav > li > .dropdown-menu li a {

  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);

  color: #fff;

  display: block;  

  opacity: 0.8;

  padding: 10px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.navbar-nav > li > .dropdown-menu > li:last-child a {

  border-bottom: medium none;

}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {

  background-color:transparent;  

  text-decoration: none;

}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {

  background-color: transparent;  

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {

  background-color: transparent;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {

  background-color: transparent;

}



/*--------------------*/

/* HOME SLIDER SECTION */

/*--------------------*/



#slider{

  float: left;

  display: inline;

  width: 100%;

}

.slider_area {

  background-color: #ccc;

  display: inline;

  float: left;

  margin-top: 80px;

  width: 100%;

}

.slider_caption {

  left: 5%;

  position: absolute;

  top: 25%;

  width: 50%;

}

.slider_right_caption{

  left: 38%;

}

.slider_caption h2 {

  color: #fff;

  font-size: 33px;

  background-color: rgba(49, 59, 61, 0.6);

  padding: 8px;

  margin-bottom: 5px;

  text-transform: uppercase;

}

.slider_caption p {

  background-color: rgba(49, 59, 61, 0.6);

  color: #fff;

  font-family: "Varela",sans-serif;

  font-size: 15px;

  font-weight: 600;

  padding: 10px;

}

.slider_btn {  

  background: rgba(49, 59, 61, 0.6);

  border: 2px solid #fff;

  border-radius: 5px;

  color: #fff;

  font-size: 16px;

  display: inline-block;

  font-family: "Varela",sans-serif;

  margin-top: 10px;

  padding: 9px 15px;

  text-decoration: none;

  -webkit-transition: all 0.5s;

    -o-transition: all 0.5s;

    transition: all 0.5s;  

}

.slider_btn:hover,.slider_btn:focus{   

  text-decoration: none;

  outline: none;

}

.next,.prev{

  display: none !important;  

}

.slider_area:hover .next{

  display: block !important;

}

.slider_area:hover .prev{

  display: block !important;

}



/*--------------------*/

/* HOME ABOUT US */

/*--------------------*/



#aboutUs {

  display: inline;

  float: left;

  padding: 60px 0;

  width: 100%;

}

.aboutus_area {

  display: inline;

  float: left;

  padding-right: 30px;

  width: 100%;

}

.aboutus_area p {

  line-height: 22px;

}

.titile{

  text-transform: uppercase;

  position: relative;

  margin-bottom: 20px;

}

.titile:after{

  content: "";

  position: absolute;

  left: 0;  

  bottom: 0px;

  width: 50px;

  height: 5px;  

}

.newsfeed_area{

  float: left;

  display: inline;

  width: 100%;

  padding-left: 15px;

}

.feed_tabs li{margin-bottom: -2px;}



.feed_tabs li a {

  font-family: "Varela",sans-serif;

  font-size: 18px;

  text-transform: uppercase;

  font-weight: bold;

}

.feed_tabs li a:hover{

  color: #fff;  

}

.news_tab {

  margin-top: 15px;

}

.news_tab li {

  border-bottom: 1px solid #ccc;

  padding-bottom: 15px;

  margin-bottom: 15px;

}

.news_tab li:last-child{

  border-bottom: none;

}

.news_img {

  display: block;

  height: 70px;

  width: 100px;

}

.news_img>img{

  width: 100%;

  height: 100%;

}

.news_tab .media-body > a {

  display: block;

  font-size: 15px;

  font-weight: bold;

  margin-top: 5px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  -ms-transition: all 0.5s;

  transition: all 0.5s;

}

.feed_date{

  color: #ccc;

  font-style: italic;

}

.see_all {

  border-bottom: 2px solid #ccc;

  float: right;

  font-size: 16px;

  font-weight: bold;

  text-decoration: none;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.see_all:hover, .see_all:focus{  

  text-decoration: none;

  outline: none;  

}

.single_news_pane{

  float: left;

  display: inline;

  width: 100%;

}

.single_notice_pane{

  float: left;

  display: inline;

  width: 100%;

}

.single_notice_pane .slick-prev {  

  background-image: url("img/nav-prev.png");

  background-repeat: no-repeat;

  height: 30px;

  width: 30px;

  background-position: center;

}

.single_notice_pane .slick-next {  

  background-image: url("img/nav-next.png");

  background-repeat: no-repeat;

  height: 30px;

  width: 30px;

  background-position: center;

}

.single_notice_pane .slick-prev, .single_notice_pane .slick-next { 

  top: 100%;  

}

.single_notice_pane .slick-prev{

  left: 87%;

}



/*--------------------*/

/* HOME WHY US SECTION */

/*--------------------*/



#whyUs{

  float: left;

  display: inline;

  width: 100%;

}

.whyus_top{

  float: left;

  display: inline;

  width: 100%;

  background-color: #f6f6f6;

  padding: 60px 0px;  

}

.single_whyus_top{

  float: left;  

  display: inline;  

  width: 100%;

  text-align: center;

}

.title_area{
  float: left;
  display: inline;
  width: 100%;
}

.title_area span{

  display: inline-block;  

  text-align: center; 

  height: 5px;    

  width: 50px;

}

.title_two {
  padding-bottom: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: wheat;
  margin-top: 15px;
}

.whyus_icon{

  border-radius: 150px;

  color: #ffffff;

  display: inline-block;

  height: 150px;  

  text-align: center;

  width: 150px;

}

.whyus_icon span{

  display: inline-block;

  font-size: 70px;

  height: 100%;

  line-height: 160px;

  width: 100%;

  -webkit-transition:   all 0.5s;

  -o-transition:  all 0.5s;

  transition:   all 0.5s;

}

.single_whyus_top:hover .whyus_icon span{

  transform:scale(0.9);

}

.single_whyus_top>h3{

  font-size: 18px;

  font-weight: bold;

}

.single_whyus_top>p{

  font-size: 13px;

}

.whyus_bottom{

  float: left;

  display: inline;

  width: 100%;

  min-height: 350px;

  padding: 85px 0px;

  background-image: url(img/skills_bg.jpg);

  background-repeat: no-repeat;

  background-size: 100% 100%;

  position: relative;

  -webkit-background-size: cover;

  background-size: cover;  

}

.slider_overlay {

  background: none repeat scroll 0 0 #242434;

  height: 100%;

  opacity: 0.8;

  position: absolute;

  right: 0;

  top: 0;

  width: 100%;

  z-index: 9;

}

.skills{

  position: relative;

  z-index: 999;

}



.heading h3 {

  color: #fff;

  display: inline-block;

  float: left;

  font-size: 40px;

  margin: 0 0 40px;

  padding-bottom: 10px;

  text-transform: uppercase;

  font-weight: bold;

  line-height: 40px;

}

div[data-dimension] {

  float: none;

  margin: 0 auto;

}

.circle-text{

  color: #fff;

}

.single_skill{

  float: left;

  display: block;

  width: 100%;

  text-align: center;

}

.single_skill > h4 {

  color: #ffffff;

  font-size: 20px;  

}



/*--------------------*/

/* HOME solution SECTION */

/*--------------------*/



#oursolutions{

  background-color: #f6f6f6;

  float: left;

  display: inline;

  width: 100%;  

  padding: 60px 0px;

}

.oursolution_content{

  float: left;

  display: inline;

  width: 100%;

}

.solution_nav{}

.solution_nav li {

  display: block;

  float: left;

  margin-right: 30px;

  width: 31%;

}

.solution_nav li:last-child{

  margin-right: 0px;

}

.single_solution {

  background-color: #ffffff;

  border: 1px solid #efefef;

  display: inline;

  float: left;

  min-height: 150px;

  width: 100%;

}

.singsolution_imgarea {

  float: left;

  overflow: hidden;

  position: relative;

  text-align: center;

  width: 100%;

}

.singsolution_imgarea img {

  display: block;

  position: relative;

  width: 100%;

   -webkit-transition: all 0.3s ease-in-out;

   -moz-transition: all 0.3s ease-in-out;

   -o-transition: all 0.3s ease-in-out;

   -ms-transition: all 0.3s ease-in-out;

   transition: all 0.3s ease-in-out;

}

.singsolution_imgarea .mask {

   background-color: rgba(49, 59, 61, 0.6);

   -webkit-transform: translateX(-100%);

   -moz-transform: translateX(-100%);

   -o-transform: translateX(-100%);

   -ms-transform: translateX(-100%);

   transform: translateX(-100%);

   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";

   filter: alpha(opacity=100);

   opacity: 1;

   -webkit-transition: all 0.3s ease-in-out;

   -moz-transition: all 0.3s ease-in-out;

   -o-transition: all 0.3s ease-in-out;

   -ms-transition: all 0.3s ease-in-out;

   transition: all 0.3s ease-in-out;

}

.singsolution_imgarea .mask, .singsolution_imgarea .content {  

  left: 0;

  overflow: hidden;

  position: absolute;

  top: 0;

  bottom: 0;

  width: 100%;

}

.singsolution_imgarea:hover .mask {

   -webkit-transform: translateX(0px);

   -moz-transform: translateX(0px);

   -o-transform: translateX(0px);

   -ms-transform: translateX(0px);

   transform: translateX(0px);

}

.singsolution_imgarea:hover img {

   -webkit-transform: translateX(100%);

   -moz-transform: translateX(100%);

   -o-transform: translateX(100%);

   -ms-transform: translateX(100%);

   transform: translateX(100%);

}

.solution_more {

  border: 2px solid #fff;

  color: #fff;

  display: inline-block;

  font-size: 18px;

  margin-top: 27%;

  padding: 10px;

  text-transform: uppercase;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.solution_more:hover,.solution_more:focus {

  background-color: #fff;  

  text-decoration: none;

  outline: none;

  border-radius: 4px;

}

.singsolution_content{

  float: left;

  display: inline;

  width: 100%;

  padding: 10px;

}

.singsolution_title {

  border-bottom: 1px solid #efefef;

  font-size: 20px;

  margin-top: 10px;

  padding-bottom: 10px;

  

}

.singsolution_title a{

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.singsolution_title a:hover{

  text-decoration: none;

  outline: none;

}

.singsolution_price{

  border-bottom: 1px solid #efefef;

  padding-bottom: 10px;

}

.singsolution_price > span {

  font-weight: bold;

  font-size: 18px;

}

.singsolution_author {

  border-top: 1px solid #efefef;

  display: inline;

  float: left;

  padding: 20px 10px 0;

  width: 100%;

}

.singsolution_author > img {

  float: left;

  border-radius: 50%;

  height: 40px;

  margin-bottom: 25px;

  margin-right: 15px;

  width: 40px;

}

.singsolution_author>p{

  float: left;

  color: #c0c1c1;

  font-size: 18px;

  margin-top: 10px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.singsolution_author>p:hover{

  color: #000;

}

.solution_nav .slick-prev {

  left: -37px;

  background-image: url("img/solution-nav-prev.png");

  background-color: transparent;

  background-position: center center;

  background-repeat: no-repeat;

  height: 121px;

  width: 36px;

}

.solution_nav .slick-next {  

  background-image: url("img/solution-nav-next.png");

  background-color: transparent;

  background-position: center center;

  background-repeat: no-repeat;

  height: 121px;

  width: 36px;

  right: -6px;

}

.solution_nav .slick-prev, .solution_nav .slick-next {

  top: 40%;

}



/*--------------------*/

/* HOME OUR TUTORS SECTION */

/*--------------------*/



#ourTutors{

  background-color: #ffffff;

  display: inline;

  float: left;

  padding: 60px 0;

  width: 100%;

}

.ourTutors_content{

  float: left;

  display: inline;

  width: 100%;

}

.tutors_nav{}



.tutors_nav>li {

  display: block;

  float: left;

  margin-right: 30px;

  width: 31%;

}

.tutors_nav>li:last-child{

  margin-right: 0px;

}

.single_tutors {

  display: inline;

  float: left;

  min-height: 150px;

  width: 100%;

  padding-bottom: 15px;

}

.tutors_thumb {

  border-radius: 50%;

  display: block;

  font-size: 15px;

  height: 165px;

  line-height: 165px;

  margin: 0 auto;

  padding: 15px 0 0 18px;

  text-align: center;

  width: 75%;

  -webkit-transition: all 0.5s ease-in-out;

  -o-transition: all 0.5s ease-in-out;

  transition: all 0.5s ease-in-out;

}

.single_tutors:hover .tutors_thumb{

  padding: 0px;

}

.tutors_thumb > img {

  border-radius: 50%;

  height: 150px;

  width: 95%;

}

.singTutors_content{

  float: left;

  display: inline;

  width: 100%;

  padding: 5px;

  text-align: center;

}

.tutors_name {

  font-size: 18px;

  margin-bottom: 3px;

  text-transform: uppercase;

}

.singTutors_content>span{

  font-size: 13px;

  color: #fff;

  display: inline-block;

  padding: 0 10px;

  margin-bottom: 18px;

  font-style: italic;

  font-weight: 400;

  line-height: 20px;

  text-transform: capitalize;

}

.singTutors_content > p {

  font-size: 13px;

}

.singTutors_social{

  float: left;

  display: inline;

  width: 100%;

  padding-top: 10px;

}

.tutors_socnav{

  text-align: center;

}

.tutors_socnav li{

  display: inline-block;

}

.tutors_socnav li a{

  background-color: #fff;  

  border: 1px solid #a8a8a8;

  color: #a8a8a8;

  display: inline-block;

  font-size: 14px;

  height: 26px;

  line-height: 24px;

  margin: 0 auto;

  text-align: center;

  width: 26px;

  text-decoration: none;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.tutors_socnav li a:hover,.tutors_socnav li a:focus{

  text-decoration: none;

  outline: none;

}

.tutors_nav .slick-dots li {

  border: 2px solid #a8a8a8;

  width: 15px;

  height: 15px;  

}

.tutors_nav .slick-dots li.slick-active button:before,.tutors_nav .slick-dots li button:before {

  color: #fff; 

}



/*--------------------*/

/* HOME STUDENTS TESTIMONIAL SECTION */

/*--------------------*/



#studentsTestimonial{

  background-color: #f6f6f6;

  float: left;

  display: inline;

  width: 100%;  

  padding: 60px 0px;

}

.studentsTestimonial_content{

  float: left;

  display: inline;

  width: 100%;

}

.single_stsTestimonial{

  float: left;

  display: inline;

  width: 100%;

  text-align: center;

}

.stsTestimonial_msgbox {

  background-color: #fff;

  border: 1px solid #fff;

  border-radius: 8px;

  display: inline;

  float: left;

  margin-bottom: 25px;

  padding: 13px;

  width: 100%;

  position: relative;

}

.stsTestimonial_msgbox:after {

  border-left: 15px solid transparent;

  border-right: 15px solid transparent;

  border-top: 15px solid #fff;

  bottom: -15px;

  content: "";

  height: 0;

  left: 46%;

  position: absolute;

  width: 0;

}

.stsTesti_img {

  border: 5px solid #dbe2e9;

  border-radius: 50%;

  height: 100px;

  width: 100px;

}

.stsTestimonial_content{

  float: left;

  display: inline;

  width: 100%;

}



/*--------------------*/

/* FOOTER SECTION */

/*--------------------*/



#footer{

  float: left;

  display: inline;

  width: 100%;

}

.footer_top{

  float: left;

  display: inline;

  width: 100%;

  background-color: #1e2223;

  padding: 60px 0px;

}

.single_footer_widget {

  display: inline;

  float: left;

  padding: 0 10px;

  width: 100%;

}

.single_footer_widget > h3 {

  color: #fff;

  text-transform: uppercase;

  margin-bottom: 25px;

}

.single_footer_widget>p{

  color: #fff;

}

.footer_widget_nav li a {

  font-size: 15px;

  font-weight: bold;

  margin-bottom: 3px;

  display: block;

}

.footer_social li a {

  color: #fff;

  display: inline-block;

  float: left;

  font-size: 22px;

  padding: 0 10px;

}

.footer_bottom{

  float: left;

  display: inline;

  width: 100%;

  background-color: #f8f8f8;

  padding: 20px 0px;

}

.footer_bootomLeft{

  float: left;

  display: inline;

  width: 100%;

}

.footer_bootomLeft>p,.footer_bootomRight>p{margin-bottom: 0px;}



.footer_bootomRight{

  float: left;

  display: inline;

  width: 100%;

  text-align: right;

}



/*--------------------*/

/* solution ARCHIVE PAGE */

/*--------------------*/



#imgBanner {

  background-image: url("img/banner.jpg");

  background-repeat: no-repeat;

  background-size: 100% 100%;

  display: inline;

  float: left;

  height: 300px;

  margin-top: 77px;

  padding: 118px 0;

  text-align: center;

  width: 100%;

}

#imgBanner h2 {

  color: #fff;

  font-size: 72px;

  font-weight: bold;

  text-align: center;

  text-transform: uppercase;

}

#solutionArchive{

  float: left;

  display: inline;

  width: 100%;

  background-color: #f6f6f6;

  padding: 60px 0px;

  min-height: 500px;

}

.solutionArchive_content{

  float: left;

  display: inline;

  width: 100%;

}

.solutionArchive_content .single_solution {

  margin-bottom: 30px;

}

.pagination li a{

  -webkit-transition: all 0.5s;

  -mz-transition: all 0.5s;

  -ms-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.pagination li a:hover,.pagination li a:focus{

  color: #fff;

}

.solutionArchive_sidebar{

  background-color: #fff;

  float: left;

  display: inline;

  width: 100%; 

  padding: 12px;

  min-height: 500px;

}

.single_sidebar{

  float: left;

  display: inline;

  width: 100%;

  margin-bottom: 15px;  

}

.single_sidebar > h2 {

  color: #fff;

  font-size: 26px;

  padding: 0 5px;

  margin-bottom: 15px;

}

.single_sidebar > h2 span{

  font-size: 24px;

}

.single_sidebar .news_tab .media-body > a {

  margin-top: 0;

}

.single_sidebar > ul > li>a {

  display: block;

  font-size: 13px;

  font-weight: 600;

  padding: 5px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.single_sidebar > ul > li>a:hover,.single_sidebar > ul > li>a:focus{

  text-decoration: none;

  outline: none;

}



/*--------------------*/

/* solution SINGLE PAGE */

/*--------------------*/



.singlesolution_ferimg_area{

  float: left;

  display: inline;

  width: 100%;

  background-color: #ffffff;

}

.singlesolution_ferimg{

  float: left;

  display: inline;

  width: 100%;

}

.singlesolution_ferimg > img {

  max-height: 350px;

  width: 100%;

}

.singlesolution_bottom {

  display: inline;

  float: left;

  padding: 15px;

  width: 100%;

}

.singlesolution_bottom > h2 {

  display: inline-block;

  float: left;

  font-size: 18px;

  margin-right: 20px;

  padding-bottom: 0px;

}

.singlesolution_author{

  float: left;

  display: inline-block;

  color: #c0c1c1;

  font-size: 15px;

  -webkit-transition: all 0.5s ease 0s;

  -ms-transition: all 0.5s ease 0s;

  -o-transition: all 0.5s ease 0s;

  transition: all 0.5s ease 0s;  

}

.singlesolution_author:hover{

  color: #000;

}

.singlesolution_author img{

  border-radius: 50%;

  height: 40px;

  /*margin-bottom: 25px;*/

  margin-right: 15px;

  width: 40px;

}

.singlesolution_price {

  display: inline-block;

  float: right;

  font-size: 25px;

  margin-top: 4px;

}

.single_solution_content {

  display: inline;

  float: left;

  margin-top: 35px;

  width: 100%;

}

.single_solution_content > h2 {

  margin-bottom: 15px;

  text-transform: uppercase;

}

.single_solution_content > p {

  font-size: 15px;

  line-height: 1.9em;

}

.solution_table{

  margin-top: 50px;

  background-color: #fff;

}

.solution_table thead{

  color: #fff;

}

.solution_table thead>tr>th{

  color: #ffffff;

  text-transform: uppercase;

}

.related_solution{

  float: left;

  display: inline;

  width: 100%;

  margin-top: 30px;

}

.related_solution > h2 {

  background-color: #ffffff;

  font-size: 25px;

  margin-bottom: 20px;

  padding: 5px;

  text-transform: uppercase;

}



/*--------------------*/

/* BLOG PAGE */

/*--------------------*/



.single_blog_archive {

  background-color: #fff;

  display: inline;

  float: left;

  margin-bottom: 30px;

  padding-bottom: 15px;

  width: 100%;

}

.blogimg_container {

    width:100%;    

    overflow: hidden;

    margin-bottom: 8px;

}

.blog_img img {

  height: 100%;

  width:100%;

  -webkit-transition: all 1s ease; /* Safari and Chrome */

  -moz-transition: all 1s ease; /* Firefox */

  -ms-transition: all 1s ease; /* IE 9 */

  -o-transition: all 1s ease; /* Opera */

  transition: all 1s ease;

  transform: translate3d(0px, 0px, 0px);

}

.blog_img:hover img {

  opacity: 0.8;

  -webkit-transform:scale(1.1); /* Safari and Chrome */

  -moz-transform:scale(1.1); /* Firefox */

  -ms-transform:scale(1.1); /* IE 9 */

  -o-transform:scale(1.1); /* Opera */

  transform:scale(1.1);

}

.blog_title {

  display: block;

  margin-bottom: 7px;

  margin-top: 20px;

  text-transform: uppercase;

  padding: 0 15px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.blog_title a:hover{

  text-decoration: none;

  outline: none;

}

.blog_commentbox{

  float: left;

  display: inline;

  width: 100%;

  padding: 0px 15px;

}

.blog_commentbox > p {

  color: #888;

  display: inline-block;

  font-size: 15px;

  font-weight: normal;

  margin-right: 5px;

  border-right: 2px solid #ccc;

  padding-right: 5px;

  -webkit-transition: all 0.5s;

  -ms-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.blog_commentbox :last-child{

  border-right: none;

}

.blog_commentbox > p i{

  margin-right: 5px;

}

.blog_commentbox>a{

  color: #888;

  font-size: 15px;

  font-weight: normal;

  -webkit-transition: all 0.5s;

  -ms-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.blog_commentbox>a i{

  margin-right: 5px;

}

.blog_summary {

  color: #9b9b9b;

  line-height: 18px;

  margin: 10px 5px 10px 0;

  padding: 0 15px;

}

.blog_readmore{

  position: relative;

  display: inline-block;

  margin: 15px 25px;

  outline: none;

  color: #9b9b9b;

  text-decoration: none;

  text-transform: uppercase;

  letter-spacing: 1px;

  font-weight: 400;

  text-shadow: 0 0 1px rgba(255,255,255,0.3);

  font-size: 15px;

  float: right;

}

.blog_readmore:hover,.blog_readmore:focus{

  text-decoration: none;

  outline: none;

}

.blog_readmore::before,

.blog_readmore::after {

  display: inline-block;

  opacity: 0;

  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;

  -moz-transition: -moz-transform 0.3s, opacity 0.2s;

  transition: transform 0.3s, opacity 0.2s;

}



.blog_readmore::before {

  margin-right: 10px;

  content: '[';

  -webkit-transform: translateX(20px);

  -moz-transform: translateX(20px);

  transform: translateX(20px);

}



.blog_readmore::after {

  margin-left: 10px;

  content: ']';

  -webkit-transform: translateX(-20px);

  -moz-transform: translateX(-20px);

  transform: translateX(-20px);

}



.blog_readmore:hover::before,

.blog_readmore:hover::after,

.blog_readmore:focus::before,

.blog_readmore:focus::after {

  opacity: 1;

  -webkit-transform: translateX(0px);

  -moz-transform: translateX(0px);

  transform: translateX(0px);

}

.tags_nav li{

  display: inline-block;

}

.tags_nav li a {

  display: inline-block;

  border: 1px solid #ccc;

  margin-bottom: 5px;

  color: #666;

}

.tags_nav li a:hover,.tags_nav li a:focus{

  color: #ffffff !important;

}

.tags_nav li a>i{

  margin-right: 5px;

}

.single_blog{

  float: left;

  display: inline;

  width: 100%;

}

.single_blog .blog_title{

  padding-left: 0px;

}

.single_blog .blog_commentbox{

  padding-left: 0px;

}

.single_blog p {

  line-height: 25px;

  font-size: 15px;

}

.single_blog blockquote{

  border-left: none;

}

.single_blog blockquote>span{

  font-size: 25px;

}

.single_blog ul li {

  line-height: 25px;

}

.single_blog ul li > span {

  margin-right: 5px;

}

.single_blog_prevnext {

  display: inline;

  float: left;

  margin-top: 40px;

  width: 100%;

}

.prev_post{

  display: inline-block;

  float: left;

  padding: 8px 16px;

  color: #ccc;

  border:2px solid #ccc;

  text-transform: uppercase;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  -ms-transition: all 0.5s;

  transition: all 0.5s;

}

.prev_post:hover{

  text-decoration: none;

  outline: none;

}

.prev_post>i{

  font-size: 20px;

  margin-right: 5px;

}

.next_post{

  display: inline-block;

  float: right;

  padding: 8px 16px;

  color: #ccc;

  border:2px solid #ccc;

  text-transform: uppercase;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  -ms-transition: all 0.5s;

  transition: all 0.5s;

}

.next_post:hover{

  text-decoration: none;

  outline: none;

}

.next_post>i{

  font-size: 20px;

  margin-left: 5px;

}

.related_post{

  float: left;

  display: inline;

  width: 100%;

  margin-top: 40px;

}

.related_post > h2 {

  background-color: #fff;

  border-left: 5px solid;

  font-size: 25px;

  margin-bottom: 20px;

  padding: 10px;

}



/*--------------------*/

/* EVENTS */

/*--------------------*/



.events_slider_area{

  float: left;

  display: inline;

  width: 100%;

}

.events_slider{

  float: left;

  display: inline;

  width: 100%;

}

.events_slider .slick-prev {  

  background-image: url("img/nav-prev.png");

  background-repeat: no-repeat;

  height: 30px;

  width: 30px;

  background-position: center;

}

.events_slider .slick-next {  

  background-image: url("img/nav-next.png");

  background-repeat: no-repeat;

  height: 30px;

  width: 30px;

  background-position: center;

}

.events_slider .slick-prev,.events_slider .slick-next {

  height: 45px;

}

.events_slider .slick-slide img {

  display: block;

  width: 100%;

}



/*--------------------*/

/* GALLERY */

/*--------------------*/



#gallery {

  display: inline;

  float: left;

  padding: 60px 0;

  width: 100%;

}

.gallery_area{

  float: left;

  display: inline;

  width: 100%;

}

.gallery_area a {  

  display: inline-block;

  height: 200px;

  margin: 0 9px 18px;

  width: 23%;

  position: relative;

  overflow: hidden;

  -webkit-transition: all 0.5s;

    -o-transition: all 0.5s;

    transition: all 0.5s;  

}

.gallery_area a>img{

  width: 100%;

  height: 100%;  

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.gallery_area a:hover .gallery_img{

  transform: scale(2.2);

}

.view_btn {

  display: none;

  left: -100%;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;  

}

.gallery_area a:hover .view_btn{

  display: block;

  background-color: rgba(0, 0, 0, 0.9);

  color: #fff;

  font-size: 18px;

  font-weight: bold;

  height: 100%;

  left:0;

  padding-top: 34%;

  position: absolute;

  text-align: center;

  text-transform: uppercase;

  top: 0;

  width: 100%;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;

}

.tos-caption-0{ 

  font-family: 'Varela', sans-serif;

  font-size: 22px;

}



/*--------------------*/

/* CONTACT */

/*--------------------*/



#contact{
  float: left;
  display: inline;
  width: 100%;
  /*background-color: #f6f6f6;*/
  background:none repeat scroll 0 0 #242434;
  padding: 60px 0;
  color:white;
}

.contact_form{

  float: left;

  display: inline;

  width: 100%;

}

 .wp-form-control {

  border: 1px solid #ffffff;

  border-radius: 5px;

  display: inline;

  float: left;

  margin-bottom: 20px;

  padding: 10px 12px;

  -webkit-transition: all 0.4s ease 0s;

  -o-transition: all 0.4s ease 0s;

  -ms-transition: all 0.4s ease 0s;

  transition: all 0.4s ease 0s;  

  width: 100%;  

}

.wpcf7-text{

  height: 45px;

}

.wpcf7-email{

  height: 45px;

}

.wpcf7-textarea {

  height: 200px;

  padding: 15px;

}

.wpcf7-submit {

  background-color: #fff;

  padding: 10px 15px;

  border-radius: 4px;

  text-transform: uppercase;

   -webkit-transition: all 0.4s ease 0s;

  -o-transition: all 0.4s ease 0s;

  -ms-transition: all 0.4s ease 0s;

  transition: all 0.4s ease 0s; 

}

.contact_address{

  float: left;

  display: inline;

  width: 100%;

}

.contact_address>h3{ 

  margin-top: 0px;

}

.address_group{

  float: left;

  display: inline;

  width: 100%;

  margin-bottom: 30px;

}

.address_group .footer_social li a{

  color: #ccc;

}

#googleMap{

  float: left;

  display: inline;

  width: 100%;

  margin-bottom: -6px;

}



/*--------------------*/

/* 404 page */

/*--------------------*/



#errorpage{

  float: left;

  display: inline;

  width: 100%;

  padding: 60px 0;

}

.error_page_content {

  display: inline;

  float: left;

  text-align: center;

  width: 100%;  

}

.error_page_content h1 {

  display: inline-block;  

  font-size: 300px;

  font-weight: 400;

  position: relative;

  vertical-align: middle;  

}

.error_page_content h1:after, .error_page_content h1:before {

  background: none repeat scroll 0 0 #fff;  

  content: "";  

  height: 20px;

  margin-top: -10px;

  position: absolute;

  top: 50%;

  -webkit-transform: rotate(45deg);

  -mz-transform: rotate(45deg);

  -ms-transform: rotate(45deg);

  -o-transform: rotate(45deg); 

  transform: rotate(45deg);

  width: 20px;

}

.error_page_content h1:after {

  right: -60px;

}

.error_page_content h1:before {

  left: -60px;

}

.error_page_content h2 {

  color: #c1c0b4;

  font-size: 60px;

  font-weight: 400;

}

.error_page_content h3 {

  font-size: 24px;

  margin-top: 35px;

}

.error_page_content p { 

  font-size: 23px;

  line-height: 31px;

  margin: 36px auto 0;

  max-width: 630px;

  padding: 9px 0 8px;

  position: relative;

}

.error_page_content p:before {  

  content: "";

  left: 0;

  position: absolute;

  top: 1px;

  width: 100%;

}

.error_page_content p:after {  

  bottom: 1px;

  content: "";

  left: 0;

  position: absolute;

  width: 100%;

}

.error_page_content p>a{

  color: #798992;

  text-decoration: none;

}







/*THEME STYLE SWITCHER*/



.theme_style_switcher {

	background-color: rgba(0, 0, 0, 0.75);

	border-bottom-right-radius: 4px;

	height: auto;

	left: -250px;

	padding: 15px;

	position: fixed;

	top: 140px;

	width: 250px;

	z-index: 1000;

	text-align: center;

	-webkit-transition: all 0.35s ease 0s;

	-o-transition: all 0.35s ease 0s;

	transition: all 0.35s ease 0s;

}

.theme_style_switcher a {

  display: inline-block;

  float: none;

  height: 40px;

  margin: 5px;

  width: 40px;

}

.theme_style_switcher > h4 {

  color: #fff;

  padding: 15px 10px;

  text-transform: uppercase;

}

.style-switch-button {

  background-color: rgba(0, 0, 0, 0.75);

  border-bottom-right-radius: 4px;

  border-top-right-radius: 4px;

  cursor: pointer;

  height: 50px;

  left:250px;

  text-align:left;

  position: absolute;

  top: 50px;

  width: 50px;

  z-index: 1000;

}

.style-switch-active{

	left: 0;

}

.style-switch-button i {

  color: #fff;

  font-size: 20px;

  left: 15px;

  line-height: 1;

  position: relative;

  top: 15px;  

}

#default{

  background-color: #78adc9;

}

#yellow{

  background-color: #ffd133;

}

#red{

  background-color: #ee4532;

}

#bridge{

  background-color: #a5d549;

}

#green{

  background-color: #3fc35f;

}

#liteBlue{

 background-color: #37c6f5; 

}

#orange{

  background-color: #ff871c;

}

#pink{

  background-color: #ff2851;

}

#darkRed{

  background-color: #970001;

}

#purple{

  background-color: #c762cb;

}





/*======================///////////////

			start responsive style

=====================///////////////////////*/





@media(max-width:1199px ){

  .slider_caption {width: 60%;}

  .slider_caption h2 {font-size: 30px;}

  .slider_right_caption {left: 35%;}

  .singsolution_author > p {font-size: 15px;}

  .side_add{display: block;width: 100%;}

  .side_add>img{width: 100%;}

  .gallery_area a {width: 22.5%;}

}

  

@media(max-width:991px ){

  .navbar-default .navbar-brand {font-size: 18px;}

  .navbar-default .navbar-nav > li > a {font-size: 12px;padding: 30px 9px;}

  .navbar-nav > li > .dropdown-menu li a {font-size: 12px;}

  .navbar-brand{width: 160px;}

  .navbar-brand img{max-width: 100%;}

  .slider_caption {width: 80%;}

  .slider_right_caption {left: 15%;}

  .solution_nav { padding-left: 15px;}

  .solution_nav .slick-prev {left: -20px;}

  .singsolution_title {font-size: 18px;}

  .singsolution_author > p {font-size: 10px;}

  .single_footer_widget > h3 {font-size: 17px;}

  .single_sidebar > h2 {font-size: 20px;}

  .news_tab .media-body > a {font-size: 12px;}

  .gallery_area a {width: 30.3%;} 



  

}





@media(max-width:767px ){

.navbar-default .navbar-nav > li > a {padding: 10px 20px;}

.navbar-nav > li > .dropdown-menu {left: 15px;}	

.navbar-nav > li > .dropdown-menu:before {border-left: 10px solid transparent;border-right: 10px solid transparent;right: 65%;}

.navbar-toggle{margin-top: 15px;}

.navbar-default .navbar-brand {margin-bottom: 8px;margin-top: 8px;}

.navbar-nav > li > .dropdown-menu:before {display: none;}

.slider_caption {width: 90%;}

.slider_right_caption {left: 5%;}

.slider_caption h2 {font-size: 25px;line-height: 35px;}

.slider_area {margin-top: 66px;}

.aboutus_area {padding-right: 0px;margin-bottom: 30px;}

.single_whyus_top {margin-bottom: 30px;}

.single_skill {margin-bottom: 30px;}

.single_stsTestimonial { margin-bottom: 30px;}

.footer_bootomLeft {margin-bottom: 10px;text-align: center;}

.footer_bootomRight {text-align: center;}

.single_footer_widget {text-align: center;}

.footer_social{text-align: center;}

.footer_social li {display: inline-block;}

#imgBanner {margin-top: 65px;}

#imgBanner h2 {font-size: 50px;}

.solutionArchive_content {margin-bottom: 65px;}

.gallery_area a {width: 28.5%;}

.contact_address {margin-top: 50px;text-align: center;}



}



@media(max-width:480px ){	

  .slider_right_caption {top: 15%;}

	.slider_caption h2 {font-size: 20px;line-height: 30px;}

  .slider_caption p { font-size: 13px;}

  .slider_btn {font-size: 13px;padding: 5px 10px;}

  .error_page_content h1 {font-size: 100px;}

  #imgBanner h2 {font-size: 40px;}

  #imgBanner {height: 200px;padding: 80px 0;}

  .gallery_area a {width: 100%;margin-right: 0;margin-left: 0;height: 250px;}

 

}



@media(max-width:360px ){

  .error_page_content h1 {font-size: 70px;}

  .error_page_content h2 {font-size: 40px;}

  .error_page_content p {font-size: 17px;}

  .error_page_content h1:after, .error_page_content h1:before {height: 15px;width: 15px;}

  .error_page_content h1:after {right: -30px;}

  .error_page_content h1:before {left: -30px;}

  .feed_tabs li a {font-size: 14px;}

  #imgBanner h2 {font-size: 30px;}

  .blog_title {font-size: 20px;line-height: 30px;}

  .gallery_area a {width: 100%;margin-right: 0;margin-left: 0;height: 200px;}



}

li.dropdown-item {
  margin: 3px;
  margin-left: 5px;
}
/*.navbar-nav>li>.dropdown-menu {
  background-color: #fff;
}*/

.simg img{
    height: 200px;
    width: 348px;
}

.singsolution_content{
    height: 200px;
}

#oursolutions{
    padding: 0;
}
section#aboutUs {
    padding-top: 85px;
}

@media(max-width:320px ){
}
#contact p {
    text-align: justify;
    margin-top: 10px;
}
.navbar-nav .dropdown-menu a li{
	background-color:#313b3d;
	color: white;
	padding: 5px;
	min-width: 250px;
	font-weight:bold;
	margin: 0;
}
.navbar-nav > li > .dropdown-menu:hover{
	background-color: #548a94;
}
.navbar-nav .dropdown-menu a li:hover{	
	background-color: #055d8c;
}
.navbar-nav .dropdown-menu a li:hover{
	color: white;	
}
.navb.navbar-nav .dropdown-menu a:hoverar-nav .dropdown-menu a:hover{
	text-decoration:none;
	color: white;
}
navb.navbar-nav .dropdown-menu a:hoverar-nav .dropdown-menu a{
	text-decoration:none;
	color: yellow;
}

.navbar-brand>img {
    display: block;
    border-top-left-radius: 1250px;
    border-top-right-radius: 575px;
    width: 60px;
    margin-top: 5px;
    border-bottom-left-radius: 345px;
    border-bottom-right-radius: 1061px;
    left: 0;
    top: 0;
    position: absolute;
    margin-left: 10px;
}
.alert-danger {
    color: #721c24;
    border-bottom: 5px solid red;
    color: #f5e0e0;
    position: absolute;
    bottom: 0;
    font-family: arial;
    text-align: left;
    padding: 0;
    padding-bottom: 5px;
}
nav#mNav {
    background-color: white !important;
    font-family: sans-serif;
}
a.nav-link { font-family: calibri; }
.site-heading {
    margin-top: 75px;
}

h4#nheader {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 30px;
}

h4.widget_title {
    margin-left: 23px;
}
ul.dropdown-menu {
    margin: 0;
}
.navbar-nav .dropdown-menu a li{
    margin-top: 1px;
}
input, textarea {
  color: black;
}