blockquote:after {
    content: "";
    width: 55px;
    height: 40px;
    background: url(../assets/images/blockquote.png);
    position: absolute;
    left: -25px;
    top: -15px;
}
.banner-sec.about {
background-image: url('../assets/images/about-banner.jpg');
background-size:cover;
background-color: orange;
background-color: orange;
background-color: orange;
}
.banner-sec.delivery {
background-image: url('../assets/images/delivery.jpeg');
background-size:cover;
background-color: orange;
background-color: orange;
background-color: orange;
}
.banner-sec.contact {
background-image: url('../assets/images/contact.png');
background-size:cover;
background-color: orange;
background-color: orange;
background-color: orange;
}

.banner-caption.solution h1, .banner-caption.solution h3{
	color: #d04444;
}
.banner-caption.contact h1{
	color: #ed3237;
}
img.b-logo.delivery{
    float: right;
    margin-top: 188px;
    position: absolute;
    margin-left: 211px;
    width: 53px;
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(350deg);
    -o-transform: rotate(270deg);
}
.banner-sec.solution {
background-image: url('../assets/images/courier-solution.jpeg');
background-size:cover;
background-color: orange;
background-color: orange;
background-color: orange;
}
img.b-logo.solutiom {
    float: right;
    width: 27px;
    margin-top: 301px;
    margin-left: 550px;
	position: absolute;
    transform: rotate(322deg);
    -ms-transform: rotate(322deg);
    -moz-transform: rotate(322deg);
    -webkit-transform: rotate(322deg);
    -o-transform: rotate(322deg);
}
@media screen and (max-width: 568px){
.banner-sec {
background-image: linear-gradient(rgba(0,52,101,0.7),rgba(0,85,165,0.7)),url('./images/oasis-graphics.png');
}
}
.span6.widget-span.widget-type-cell.our-story-img{
        background-image:url("");}
span#hs_cos_wrapper_module_145569602385070495 img {
    height: 660px;
}
.span6.widget-span.widget-type-cell.about-hlfcntnt-sec{height;520px;}
.span6.widget-span.widget-type-cell.about-hlfcntnt-sec p {
    padding: 25px;
    margin-bottom: 35px;
}
.m-li-hover{
	background: #0055a5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.m-a-hover{
    color: #ed3237 !important;
	font-weight: bold;
	background: #0055a5;
}