p {
    font-family: Lato;
  }
  .testWidget {
      border: 1px solid #ccc!important;
      border-radius: 15px;
      margin: 2%;;
      padding: 0 5%;
  }
  .testWidget .title{
    border-bottom: 1px solid #ccc!important;
  }
  .testWidget .right{
    border-left: 1px solid #ccc!important;
    padding-left: 5px;
  }
  .testWidget .left{
    padding-right: 5px;
  }
  .nghide{
    display:none !important;
  }
  .ngshow{
    display: flex !important;
  }
  .container-fluid .client-board{
    padding:0;
  }
  li.ng-binding {
      color: #fff;
  }