body {
    padding-top: 0 !important;
}

.input-lg {
    font-size: 16px;
}

#navbar .nav > li > a {
    padding: 0px;
    font-family: montserrat;
    font-weight: 500 !important;
    font-size: 12px;
}

.navbar-transparent{-webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 999;}

.headerNav .animBorder::before {
    position: relative;
    top: -5px;
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: #00adcf;
    transition: width ease-out 0.1s;
}

#head .nav > li > a {
    padding: 0px;
}

#footer-top {
    overflow-x: hidden;
}

#head .nav > li {
    padding: 25px 0px 0px 3.5em;
}

.demoLi {
    padding-top: 0px !important;
}

.top-negative {
    margin-top: -3px;
}

.backgroundText h4 {
/ / font-size: 32 px; /* New font-size */
    color: #fff;
}

.btn {
    font-family: Montserrat;
    font-weight: bold;
    min-width: 200px;
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.viewTests {
    padding-top: 10px;
    display: inline-block;
}

.viewTests > a {
    color: #33cc33 !important;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    word-spacing: 2px; /* for better readibility of CTA link*/
    text-transform: uppercase;
    text-decoration: none;
}

.viewTests > a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: #33cc33;
    transition: width .3s ease-out;
}

.viewTests > a:hover:after, .viewTests > a:focus:after {
    width: 100%; /* animated hover state*/
}

.codingIcon {
    background: url("../../images/resources/codingIcon.png") no-repeat 0 0; /* new icon */
    height: 30px;
    width: 40px;
    display: inline-block;
}

.modal-open .modal {
    color: #666666; /* default text color inside homepage Demo modal*/
    z-index: 99999999;
}

.psychometricIcon {
    background: url("../../images/resources/psychometricIcon.png") no-repeat 0 0; /* new icon */
}

.aptitudeIcon {
    width: 60px; /* because icon is wider */
    background: url("../../images/resources/aptitudeIcon.png") no-repeat 0 0; /* new icon */
}

.product {
    cursor: pointer;
    padding: 20px 20px 10px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
/ / border-top: 3 px solid #00accd;
    text-align: center;
    overflow: visible;
    transition: border .2s ease-in-out;
    -moz-transition: border .2s ease-in-out;
    -webkit-transition: border .2s ease-in-out;
}

.product:hover {
    border-color: #00accd;
}

.product img {
    margin-top: -140px;
    transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    -webkit-transition: margin .2s ease-in-out;
}

.product:hover img {
    margin-top: -160px;
}

.viewTests {
    padding-top: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    color: #27AE60;
    font-family: montserrat;
    font-weight: 600;
}

.categoryDiv > a {
    padding: 25px 50px;
    margin: 0px 20px;
}

.viewTestOuterDiv > div > a {
    display: block;
    text-decoration: none;
    transition: 0.3s all ease-in;
}

.viewTests {
    padding-top: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px !important;
    color: #27AE60;
    font-family: montserrat;
    font-weight: 600 !important;
}

.viewTestOuterDiv > .categoryDiv > a:hover {
    box-shadow: 0px 0px 35px 1px #ccc;
}

.viewTests .glyphicon {
    transition: 0.3s all ease-in;
    position: relative;
    left: 0;
    top: default;
}

.viewTestOuterDiv > div:hover .glyphicon {
    left: 15px;
}

.categoryDiv h4 {
    color: #7F8C8D;
    margin-top: 20px;
}

.btn {
    font-family: Montserrat;
    font-weight: bold;
    min-width: 200px;
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-default {
    border-width: 2px;
    transition: 0.2s all ease;
}

.btn-default:hover {
    background-color: #00adcf;
    color: #fff;
}

#notification {
    background: transparent;
    border: none !important;
}

.mettlLogo, .mettlLogoBlue {
    height: 40px;
    width: 75px;
}

.mettlLogoBlue {
    display: none !important;
}

.navbar.affix .mettlLogoBlue {
    display: block !important;
}

.navbar.affix .mettlLogo {
    display: none !important;
}

.simpleToUse {
    cursor: default;
}

.codingIcon {
    /* new icon */
    background: url("../../images/resources/codingIcon.png") no-repeat 0 0;
    height: 30px;
    width: 40px;
    display: inline-block;
}

.psychometricIcon {
    /* new icon */
    background: url("../../images/resources/psychometricIcon.png") no-repeat 0 0;
}

.aptitudeIcon {
    width: 60px; /* because icon is wider */
    background: url("../../images/resources/aptitudeIcon.png") no-repeat 0 0;
}

.testimonial {
    position: relative;
    margin-bottom: 30px;
    display: block;
}

.no-padding {
    padding: 0px;
}

.product-drop-down:hover {
    background: red;
}

.testimonial .cover {
    border-radius: 6px;
    padding: 80px 30px;
    color: #fff;
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: #33cc33;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.testimonial img {
    width: 100%;
}

.testimonial:hover .cover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.container.certi {
    padding: 10px 0 10px 10px;
    border: 1px solid #ddd;
    margin-bottom: 40px;
    margin-top: -20px;
}

.offering-headers {
    font-size: 20px;
}

.bg-light-blue {
    border-right: 2px solid #eeeeee;
}

.mettl-green-font {
    color: #33cc33;
}

.getStarted { /* new get started button*/
    margin-top: 35px;
    margin-bottom: 35px;
}

.padTop20 {
    padding-top: 20px;
}


.dropdown-menu {
    transition: 0.2s all ease;
}

.media.product {
    text-decoration: none;
    color: inherit;
    display: block;
    /*box-shadow: 0px 0px 5px 1px #ccc;*/
    border: none;
    transition: 0.2s box-shadow ease-in;
/ / border-radius: 7 px;
}

.media.product:hover {
    box-shadow: 0px 0px 15px 3px #ccc !important;
    border: none;
    z-index: 999;
}

.hireNow > .glyphicon-chevron-right {
    transition: 0.2s all cubic-bezier(0, 0, 0.28, 0.83);
    /* custom transition */
}

.media.product:hover .hireNow > .glyphicon-chevron-right {
    padding-left: 15px;
    text-shadow: 1px 0px 3px rgba(51, 204, 51, 0.69);
    /* hire now tile ainmation*/
}

.popup-logo {
    width: 65px;
}

.langButton, .langButton:hover, .langButton:focus {
    color: #fff;
    text-decoration: none !important;
    background-color: transparent !important;
    border: none !important;
}


.notificationNav > li {
    padding: 5px 10px 0px 10px;
}

.nav-inline, .nav-inline:hover {
    display: inline !important;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff !important;
    background-color: transparent !important;
}

a._ga-event.nav-inline {
    padding-bottom: 15px;
}

.navbar-right.headerNav > li a {
    text-transform: uppercase;
    color: #fff;
    background-color: transparent !important;
    background: transparent !important;
    border-radius: 6px;
}

.navbar-right.headerNav > li:hover {
    text-transform: uppercase;
    color: #fff;
    background-color: transparent !important;
    background: transparent !important;
}

.navbar-right.headerNav > li .allWhite:hover, .navbar-right.headerNav > li .allWhite:focus {
    color: #ffffff;
    background-color: #00adcf !important;
    border-color: transparent;
}

.affix .navbar-right.headerNav > li .allWhite, .affix .navbar-right.headerNav > li .allWhite:hover, .affix .navbar-right.headerNav > li .allWhite:focus {
    background-color: #00adcf !important;
    border-color: transparent !important;
    color: #fff !important;
    border-width: 2px;
    border-radius: 6px;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 1px;
}

#product-drop-down-list {
    width: 300px;
}

#product-drop-down-list > li a, #product-drop-down-list > li a:hover {
    color: #666;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
}

.allWhite, .allWhite:hover, .allWhite:focus {
    /* new button for request a demo */
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 25px 8px 25px;
    background-color: transparent;
    transition: 0.2s all ease;
}

.allWhite:hover, .allWhite:focus {
    color: #ffffff;
    background-color: #337ab7 !important;
    border-color: #2e6da4;
}

.mettlLogo {
    /* new mettl logo adjusted as per earlier logo size */
    height: 40px;
    width: 75px;
}

.clientlogo {
    /* trusted by clients row */
    background: #f2f2f2;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.clientlogo > div {
    padding: 20px 0px 20px 0px;
}

.trustedBy {
    line-height: 35px;
    margin: auto;
}

.bold {
    font-weight: bold;
}

.tileDescription {
    color: #999999;
}

.hireNow {
    font-size: 12px;
    font-weight: bold;
    color: #33cc33;
    padding-top: 10px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.navbar-transparent.affix, .navbar-transparent.affix-top {
    /* affix after scroll-down */
    border-radius: 0px 0px 3px 3px;
    border-bottom: none !important;
}

.product-drop-down-list a {
    font-weight: normal !important;
}

.media-body .tileDescription, .media-body .offering-headers {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 98%;
    margin-bottom:0;
}

#head.affix {
    /* new background color for affixed header */
    background: #fff;
    z-index: 999999;
    box-shadow: 0 0 10px #cccccc
}

.affix .allWhite {
    background-color: #33cc33 !important;
    border-color: #2eb82e !important;
    color: #fff !important;
    border-width: 2px;
    border-radius: 6px;
}

.affix .allWhite:hover {
    background-color: #29a329 !important;
}

#head.affix .navbar-right > li > a {
    color: #2c3e50;
}

#head .navbar-toggle.collapsed {
    border-color: #dddddd;
}

#head .icon-bar {
    background-color: #fff !important;
}

.homepageJumbo .btn {
/ / font-family: Montserrat;
/ / s text-transform: uppercase;
/ / font-weight: bold;
}

.headerNav a {
    font-size: 12px;
}

.animBorder {
    cursor: pointer;
}

.bg-light-blue h2, .bg-dark-blue h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
}

.font-medium {
    font-weight: 300;
}

.subHeadingGettingStarted {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.bg-light-blue h4, .bg-dark-blue h4 {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

.navbar.affix .dropdown-menu:before {
    border-color: transparent transparent #00adcf transparent;
}

.dropdown-menu a {
    padding: 7px 15px !important;
    color: #666666 !important;
}

.dropdown-menu > li a:hover {
    color: #fff !important;
    background: #00adcf !important;
    border-radius: 0px;
}

.dropdown-menu > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -22px;
    left: 45px;
}

.phoneDynamic > .hidden {
    display: none !important;
}

a {
    cursor: pointer;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right , .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left{
        color: #00adcf;
}
.homeCarousel .carousel{
    border-color:transparent;
}
.homeItem p{
    font-style:italic;
    color: #2c3e50;
}
.homeCarousel .item{
    background:#fff;
    padding: 50px 20px;
}
.homeCarousel .carousel-inner{
     width:80%;
     margin:0 auto;
     box-shadow: 0px 0px 15px 3px #ccc;
     transition: all 0.5s ease-in-out;
}
.homeItem{
    padding:0 30px;
}
.homeItem .caption{
    padding-top:30px;
}
.homeItem .client-title {
    display: inline-block;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.homeItem .testimonialsImage{
    max-height: 37px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
      background-color: #ddd;
      border: none;
    }
.carousel-indicators .active{
        background-color: #00adcf !important;
    }
.fixed-padding {
        padding:20px;
    }
.homeCarousel .carousel-inner:before{
    content: "";
    position: absolute;
    left: 63px;
    background: url('../../images/Comma-Home.png') no-repeat;
    width: 87px;
    height: 45px;
    background-size: cover;
    z-index:1;
    top:0px;
}

/*Carousel fade effect*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }

/*Carousel fade effect end*/

.spacedDiv h2 {
    color: #27AE60;
}
.spacedDiv p {
    margin-top: 0px;
    color: #2c3e50;
}


@media (max-width: 991px) {
    .navbar-toggle > .icon-bar:nth-of-type(even) {
        transition: 0.2s all ease;
    }

    .langButton, .langButton:hover, .langButton:focus {
        color: #2c3e50 !important;
    }

    #navbar .nav > li {
        border-bottom: 1px solid #eee;
    }

    .showLangDD2s, .callMobile {
        padding: 10px !important;
    }

    #solutions-list > li > a, .langList > li > a {
        color: #666666 !important;
    }

    .dropdown-menu:before, .dropdown-menu:before, .greenImg, .grayImg {
        display: none !important;
    }

    .mobileGreen, .mobileGreen:hover {
        background: #00adcf !important;
    }

    .headerNav > .mobileGreen:hover > a > .forceWhite{
        color: #2c3e50;
    }

    .headerNav > .mobileGreen > a > .forceWhite {
        color: #fff;
    }

    .navbar-toggle[aria-expanded=true] > .icon-bar:nth-child(2) {
        position: relative;
        top: 6px;
        transform: rotate(45deg);
    }

    .navbar-toggle[aria-expanded=true] > .icon-bar:nth-child(3) {
        visibility: hidden;
    }

    .navbar-toggle[aria-expanded=true] > .icon-bar:nth-child(4) {
        position: relative;
        top: -6px;
        transform: rotate(-45deg);
    }

    #head.affix-top {
        background: transparent !important;
        border: none !important;
    }

    #head.affix .navbar-toggle, #head.affix .navbar-toggle:focus {
        background: #00adcf;
    }

    #head .navbar-toggle.collapsed {
        border-color: #dddddd;
    }

    #head .icon-bar {
        background-color: #fff !important;
    }


    .dropdown-menu:after {
        display: none;
    }

    .dropdown-menu {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .headerNav {
        background: #fff;
    }

    .dropdown-menu > li:not(:last-child) {
        border-bottom: none;
    }

    #navbar .nav > li > a {
        color: #2c3e50 !important;
    }

    #navbar .nav > li > a {
        padding: 10px 10px;
    }

    #navbar .nav > li > a:hover, #navbar .nav > li > a:focus {
        background-color: transparent;
    }

    .headerNav .animBorder:focus::after, .headerNav .animBorder:hover::after {
        width: 0%;
    }

    #navbar .nav > li {
        padding: 0px;
    }

    .backgroundText {
        padding-top: 60px;
    }

    .backgroundText h4 {
    / / font-size: 26 px;
    }

    .clientlogo > div {
        padding: 0px;
    }

    .backgroundText > h1 {
        margin-bottom: 25px;
        margin-top: 20px;
    }

    .backgroundText > h4 {
        margin-bottom: 15px;
    }

    .categoryDiv > a {
        padding: 15px 5px;
        margin: 0px;
    }

    #product-drop-down-list > li a, #product-drop-down-list > li a:hover {
        text-transform: uppercase;
        font-family: Lato;
    }

    #navbar.navbar-collapse {
        border: none;
    }
    #product-drop-down-list{
        width: 100%;
    }
    .homeCarousel .carousel-inner {
        width:100%;
    }
    .homeItem {
        padding: 0px;
    }
    .homeClient {
        padding: 20px;
    }
}

@media (max-width: 767px) {

    .btn[data-target="#phoneModal"] {
        line-height: 22px !important;
        min-width: 30px;
    }

    .viewTestOuterDiv > div {
        border: 1px solid #e1e1e1;
        margin: 15px;
        padding-top: 15px;
        border: 1px solid #e1e1e1;
        border-radius: 7px;
    }

    .viewTests > a:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: #33cc33;
        transition: width .3s ease-out;
    }

    .assessBtn {
        font-size: 14px;
    }

    .backgroundText {
        padding-top: 70px;
    }

    .backgroundText h4 {
    / / font-size: 24 px;
    }

    .backgroundText > h1 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .fixed-bottom-margin {
        margin-bottom: 20px;
    }

    .categoryDiv > a {
        padding: 7px 5px;
    }

    .footer-block p {
        color: #fff;
    }

    .noBorder {
        border-bottom: none !important;
    }

    .noBorder > .footer-block {
        border: none !important;
    }

    .assessBtn {
        margin-top: 20px;
    }

    .viewTestOuterDiv > .categoryDiv > a:hover, .viewTestOuterDiv > .categoryDiv > a:focus {
        box-shadow: none;
    }

    .subHeadingGettingStarted {
        font-size: 14px !important;
    }

    .viewTestOuterDiv > div {
        border: none;
        margin: 10px 0px;
        padding: 0px 20px;
    }

    .bg-light-blue {
        border-right: none;
        margin-bottom: 25px;
    }

    .getStarted {
        margin-top: 0px;
    }
    .homeCarousel .carousel{
       padding: 25px 0px 70px 0px;
    }
    .homeCarousel .item {
        padding: 10px 20px;
    }
    .homeCarousel .carousel-inner{
        box-shadow: none;
    }
    .homeCarousel .carousel-inner::before {
        display: none;
    }
}

@media (max-width: 480px) {

    .assessBtn {
        font-size: 12px;
    }

    .hiddenBelow {
        display: none;
    }

    .backgroundText h4 {
    / / font-size: 16 px;
    }

    .clientlogo {
        margin-bottom: 20px;
    }
    .homeCarousel .left.carousel-control{
        left: 6%;
    }
    .homeCarousel .right.carousel-control{
        right: 6%;
    }
}

@media only screen and (min-width: 992px) {
    .row-eq-height > .bg-light-blue h3, .row-eq-height > .bg-dark-blue h3 {
        height: 62px;
    }

    .displayFlexDiv {
        display: flex;
        align-items: center;
    }

    .imgCont .img-responsive {
        max-width: 75%;
    }

    .headerNav .animBorder:hover::before, .headerNav .animBorder:focus::before, .headerNav .animBorder:active::before {
        width: 100%; /* animated border */
    }

    .navbar.affix .dropdown-menu {
        border-top-color: #00adcf;
    }

    .navbar.affix .dropdown-menu:before {
        border-color: transparent transparent #00adcf transparent;
    }

    .dropdown-menu:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 11px;
        border-style: solid;
        border-color: transparent transparent #ccc transparent;
        top: -22px;
        left: 46px;
    }

    .dropdown-menu:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 12px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        top: -22px;
        left: 45px;
    }

    .dropdown-menu {
        left: 22px !important;
    }

    #navbar .nav > li > a {
        padding: 0px;
        padding-bottom: 10px;
        font-family: montserrat;
        font-weight: 500 !important;
        font-size: 12px;
    }

    .product-drop-down {
        margin-bottom: 10px;
    }

    .langList {
        margin-top: 10px;
    }

    .imgCont {
        min-height: 40px;
        display: flex;
        align-items: center;
    }
    .container.md-container {
        width: 992px;
    }
    .mpp-container{
        width: 990px;
    }
    .imgHeight {
        height: 50px;
    }
    .imgHeight img{
        height:100%;
    }
    .homeClient h3{
        padding: 10px 80px;
    }
    .homeCarousel .item{
        min-height:368px;
    }
    .mpptestimonial-wrapper .homeCarousel .item{
        min-height:310px;
        padding: 20px;
    }   
    .spacedDiv {
        padding: 0 15%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .subHeadingGettingStarted {
        font-size: 18px !important;
    }

}

@media (min-width: 1220px) {
    .offset-body {
        padding-top: 74px !important;

    }

}
.line-breaker {
    white-space: pre-line;
}