
h1, h2 {
    font-family: Lato, serif;
    font-weight: 300;
}

h3 {
    font-family: Lato, serif;
    font-weight: 700;
}

h4 {
    font-family: Lato, serif;
    font-weight: 500;
}

h5 {
    font-family: Montserrat, serif;
    font-weight: 700;
}

h6 {
    font-family: Montserrat, serif;
    font-weight: 500;
}

h1 > .glyphicon-arrow-right {
    font-size: 30px;
    float: right;
}

.jumbotron{
    background-color: #f7f7f7;
}

.notifyDiv{
    list-style-type:none;
    margin-bottom:0px;
}

.notifyDiv>li{
    display:inline-block;
    padding-right:10px;
}
.btn[data-type="demo"] {
    font-family: Montserrat, serif;
    font-weight: bold;
    min-width: 200px;
    line-height: 28px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-default:hover, .btn-default:active, .btn-default:focus{
    background-color: #29a329;
    color: #fff;
}

.dropdown-menu > li a:hover {
    color: #fff !important;
    background: #00adcf !important;
    border-radius: 0px;
}

.dropdown-menu .active > a {
    color: #fff !important;
    background: #00adcf !important;

}


.langButton, .langButton:hover, .langButton:focus {
    color: #fff;
    text-decoration: none !important;
    background-color: transparent !important;
    border: none !important;
    display: inline;
    position: relative;
}

#navbar.navbar-collapse{
    border-color:#004448 ;
}

.font-bold{
   font-weight: bold;
}

.offset-body{
    padding-top: 60px;
}

.caret{
    border-top: 4px solid;
}

#head.affix{
    top:0;
    left:0;
    right: 0;
    background: #fff;
    z-index: 100000;
}
.breadcrumb.affix{
    width:100% !important;
    z-index:99;
    top:60px;
}

.breadcrumb{
    border: 1px solid #ddd;
    border-width: 1px 0;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -moz-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 2px 7px #cccccc;
    margin: 0;
    z-index: 9999;
    padding-left: 0px;
    padding-right: 0px;
    border-radius:0px;
}

.padding_top{
    padding-top:50px;
}

#notification{
    background: #393a3c;
    padding: 3px 0;
    border-bottom: 1px solid #333;
    color: #f7f7f7;
}

#notification .btn-info{
    background:#FFA500;
    box-shadow: none;
    border:1px solid #666;
}
.break-word{
    word-wrap: break-word;
}

.fixed-bottom-margin{
    margin-bottom: 40px;
}

.container.container-with-border{
    border-top:1px solid #eee;
}

.landing-page .glyphicon-ok, .margin-right{
    opacity: 0.5;
    filter: alpha(opacity=0.5);
    margin-right: 15px;
}

.landing-page .list-unstyled li{
    padding: 10px;
}
.margin-bottom{
    margin-bottom: 15px;
}

a.no-underline{
    text-decoration: none;
}

.navbar-brand{
    padding: 9px 15px;
}

.navbar button, .navbar .btn{
    margin-left: 15px;
}

.modal.green .modal-content{
    background-color: #004448;
    color: #a3a3a3;
    padding: 10px 20px;
    margin-top: 100px;
    line-height: 48px;
}

.modal.green .modal-backdrop{
    background-color: transparent;
}

.modal.green .tab{
    line-height: 32px;
    border-bottom: 1px solid #337ab7;
}

.modal.green a{
    color: #fff;
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 24px;
}

#head .nav{
    font-size: 14px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
    background: none;
    box-shadow: none;
}

.navbar .list-unstyled{
    margin: 0;
}

.page-default-height{
    min-height: 380px;
}
#navbar .nav  > li > a{
    padding: 19px 25px;
}
.white-text{
    color:#fff;
}
.footer-block ul.list-unstyled li a{
    display: inline-block;
    min-width: 100%;
}
@media only screen and (min-width: 992px){
    #head .nav > li > a{
        padding:19px 20px;
    }
    .productDrop:hover > #product-drop-down-list{
        display:block;
    }
}

@media (max-width: 991px){

    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 22px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    h4 {
        line-height: 18px;
        color: #7F8C8D;
    }

    h5, h6 {
        font-size: 12px !important;
    }

    .clientlogo img{
        margin: 25px 0;
    }

    .navbar .container{
        width: 100%;
    }

    /*body{
        padding-top: 61px;
    }

    #head.affix-top{
        position: fixed;
        z-index: 9;
        top:0;
        border-bottom: 1px solid #222;
        left: 0;
        right: 0;
    }*/

    .navbar-nav{
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-default .navbar-nav > li > a{
        border-top: 1px solid #222;
    }

    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:active,
    .navbar-default .navbar-nav > li > a:focus{
        background: #004448;
        color: #fff;
        font-size: 16px;
        text-shadow: none;
        opacity: 0.9;
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
    }

    .navbar-default .navbar-nav > li > a:hover{
        opacity: 0.8;
    }
    #navbar .open .dropdown-menu > li > a{
        color:#fff;
        background: rgba(26, 87, 90, 0.8);
        text-align: center;
    }
    #product-drop-down-list{
        padding:0px;
    }
    #navbar .open .dropdown-menu > li > a:hover{
      background :#004448
    }
    .getDemo a{
        background: #FF6600 !important;
    }
    .getDemo a:hover{
        background: rgba(255, 102, 0, 0.8) !important;
    }
}

.jumbotron.main{
    color: #fff;
    padding: 0;
    margin: 0;
    background:  url("../../images/jumbotron.png") #004448;
    background-size: cover !important;
}

.jumbotron.old{
    color: #fff;
    padding: 15px 0;
    margin: 0;
    background: #2C3E50;
}

.jumbotron.old h1{
      font-size: 32px !important;
      line-height: 1.3em;
      padding-top: 30px;
}

.jumbotron.blue{
    background: #00accd;
    color: #fff;
}

.jumbotron.main.home{
    background: url("../images/jumboNew.jpg") no-repeat left bottom;
}

.jumbotron.main.psychometric{
    background-image: url("../../images/psychometricJumbo.jpg");
}

.jumbotron.main.coding{
    background-image: url("../../images/coding-background.png");
}

.jumbotron.main.aptitude{
    background-image: url("../../images/aptitudeJumbo.jpg");
}

.jumbotron.main.recruitment{
    background-image: url("../../images/recruitJumbo.jpg");
}

.jumbotron.main.mpi{
    background-image: url("../../images/science/mpi.svg");
}

.jumbotron.main.msp{
    background-image: url("../../images/science/msp.svg");
}

.jumbotron.main.mpp{
    background-image: url("../../images/science/mpp.svg");
}

.jumbotron.main.msp, .jumbotron.main.mpp, .jumbotron.main.mpi{
    background-color: #205081;
    background-size: 55% !important;
    background-repeat: no-repeat;
    background-position: center 70%;
    padding-bottom: 50px;
}

.mpp .container.text-center.backgroundText, .mpi .container.text-center.backgroundText, .msp .container.text-center.backgroundText {
    padding: 0px 0 300px;
 }

.jumbotron > #notification img {
    vertical-align: baseline;
}

.jumbotron > #notification {
    background: transparent;
    border-bottom: none;
}

.jumbotron.main h1 label {
    font-family: lato, serif;
    font-weight: 500;
}

.jumbotron.main h1, .jumbotron.main .h1 {
    font-size: 40px;
}

.jumbotron-with-border {
    background: #fff !important;
}

.jumbotron>#notification{
    background:transparent;
    border-bottom:none;
}

.notificationNav>li{
    padding:5px 10px 0 10px;
}

/*
.jumbotron.main h4{
    color: #fff;
}
*/

.jumbotron.main p {
    font-size: 12px;
}

.header-dropdown li a{
    font-size:16px !important;
}

@media (min-width:768px){
    h1{
        font-size:40px !important;
    }
    h2{
        font-size:32px !important;
    }


}

@media (max-width: 767px) {
    .jumbotron.main h1, .jumbotron.main .h1 {
        margin-top: 20px;
        padding-top: 10px;
    }

    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 22px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    h4 {
        font-size: 14px !important;
        line-height: 18px;
        color: #7F8C8D;
    }

    h5, h6 {
        font-size: 12px !important;
    }

    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 15px;
    }

    h1{
        font-size:24px !important;
    }

    h2{
        font-size:22px !important;
        margin-top:5px;
        margin-bottom:0px;
    }

    h3{
        font-size:16px !important;
    }

    h4{
        font-size:14px !important;
        line-height:18px;
        color:#7F8C8D;
    }

    h5, h6{
        font-size:12px !important;
    }

    .clientlogo{
        padding-top: 20px;
    }
    .mpp .container.text-center.backgroundText {
        padding: 0px 0 150px;   
    }
    .jumbotron.main.mpp{
        background-size: 80% !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .jumbotron.main h1, .jumbotron.main .h1 {
        font-size: 32px !important;
    }

    .jumbotron.main .h1 {

        font-size: 32px !important;
    }

    .jumbotron.main h2 {
        font-size: 28px !important;
    }
}

@media (max-width: 991px) {
    .jumbotron.main h1, .jumbotron.main .h1 {
        margin-top: 40px;
        padding-top: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .jumbotron.main h1, .jumbotron.main .h1 {
        padding-top: 30px;
    }

    .jumbotron.main.homepageJumbo {
        padding: 0;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover !important;
        margin-top: 0;
    }
}

.grey-font{
    color: #666 !important;
}

.jumbotron-white{
    background-color: #fff;
}

.jumbotron.green{
    color: #fff;
    background: #031F20;
}

#footer-top{
    background:#34495E;
}

.footer{
    background:#2C3E50 !important;
}

.footer strong {
    color: #fff;
}

.jumbotron-with-border{
    border: 1px solid #eee;
    border-width: 1px 0;
}

.no-margin{
    margin: 0;
}

.well.white-background{
    background: #fff;
    box-shadow: none;
}

.text-white{
    color:#ffffff;
}

.jumbotron-small,.jumbotron.main.jumbotron-small{
    padding: 30px 0;
}

@media (min-width: 768px) {
    .jumbotron.main h1,
    .jumbotron.main .h1 {
        font-size: 32px;
    }
    .jumbotron.main h2{
        font-size: 28px;
    }
}

@media (max-width: 767px){
    #dropdownMenu1 {
        color: #2c3e50 !important;
    }

    .jumbotron.main{
        padding: 20px 0px;
    }
    .jumbotron.main h1,
    .jumbotron.main .h1 {
        font-size: 20px;
        margin-top: 5px;
    }
    .jumbotron.main h2{
        font-size: 20px;
    }
    .mobileCenter{
        text-align:center;
        padding: 15px 0px 5px 0px;
        border-bottom: 1px solid #7f8c8d;
    }
    .mobileCenter:not(:last-child){
        border-bottom: 1px solid #7f8c8d;
    }
    .footer{
        padding:0px !important;
        padding:15px 0px 5px 0px;
    }
}

.text-brand {
    color: #004448;
}

#signup-form .glyphicon{
    color: rgb(51, 51, 51);
}

.footer{
    background-color: #393a3c;
    padding: 20px 0 20px 0;
}

.footer .footer-block{
    color: #747474;
}

.footer a{
    color: #f7f7f7;
    text-decoration: none;
    line-height: 28px;
}

@media screen and (max-width: 480px){

    .footer, .footer .col-md-3{
        padding: 0;
    }

    .footer .glyphicon{
        color: #fff;
    }

    .footer .footer-block{
        border-bottom: 1px solid #ccc;
        padding: 30px 30px 20px 30px;
        cursor: pointer;
    }

    .footer .footer-block:hover{
        color: #fff;
    }

   .signup>h4{

   }
}

.flagship-icon{
    background: url("../../images/flagship_products.png") no-repeat 0 0;
    height: 100px;
    width: 100px;
    display: inline-block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.flagship-icon.icon-psychometric-tests{
    background-position: 0 0;
}

.flagship-icon.icon-coding-tests{
    background-position: 0 -200px;
}

.flagship-icon.icon-aptitude-tests{
    background-position: 0 -400px;
}

.flagship-icon.icon-psychometric-tests:hover{
    background-position: 0 -100px;
}

.flagship-icon.icon-coding-tests:hover{
    background-position: 0 -300px;
}

.flagship-icon.icon-aptitude-tests:hover{
    background-position: 0 -500px;
}

.carousel{
    border: 1px solid #eee;
    border-radius: 4px;
    padding-bottom: 30px;
}

.left.carousel-control, .right.carousel-control{
    background: none;
    border:none;
    filter: alpha(opacity=0);
    -moz-appearance: none;
    appearance: none);
}

.carousel{
    padding: 25px 40px 70px 40px;
}

.carousel-indicators{
    bottom: 10px;
}


.offset-top{
    padding-top: 60px;
}

.offset-bottom{
    padding-bottom: 60px;
}

.modal-backdrop{
    z-index: 0;
}

.circle.img-circle{
    width: 170px;
    height: 170px;
    padding: 10px;
    background: #00accd;
    line-height: 152px;
    margin: auto;
    text-align: center;
}

.quotation-container{
   font-size: 25px;
   line-height: 1;

}

.company-logo-icon{
    margin-top: 41px;
    margin-bottom: 20px;
    height:85px  !important;
}

.signup-company-logo{
    width: 215px !important;
}

.circle.green{
    background: #34CD00;
}

.circle.gray{
    background: #f2f2f2;
}

.circle.text{
    line-height: 24px;
    color: #000;
}

.circle.text img{
    margin: 30px 0 10px 0;
}


.btn-filter,.btn-filter:hover,.btn-filter:focus,.btn-filter:active{
    background: #fff;
    border:1px solid #ddd;
    color:#333;
}

.page-secondary-header{
    font-weight: 300;
    font-size: 28px;
}

.page-bottom{
    background-color: #2c2d2e;
    color:#999;
    padding:20px 0;
}

.social-icons{
    padding: 30px 0;
    text-align: center;
}

.social-icons a{
    margin : 0 10px;
}

.social-icons a:hover{
    opacity: 0.8;
}

@media screen and (max-width: 480px){
    .social-icons a img{
        width: 32px;
    }
}

.text-overflow{
    overflow:hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 1.33em;
    -webkit-line-clamp: 1;
}

h5.text-overflow{
    line-height: inherit;
}

.container.sitemap a{
    margin-bottom: 20px;
    color: #004448;
    padding-left: 20px;
    background: url("../../images/home/points.png") 0 7px no-repeat;
}

.desktop-icon{
    margin-top: 50px;
    cursor: pointer;
}

.jumbotron.green form{
    color: #666;
}

.text-overflow.desc{
    height:8.5em;
    -webkit-line-clamp: 6;
}

.text-overflow.title{
    height:3em;
    -webkit-line-clamp: 2;
}


#type-form-link {
    position: fixed;
    right: 0;
    top: 30%;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: right bottom;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: right bottom;
    -o-transform: rotate(270deg);
    -o-transform-origin: right bottom;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: right bottom;
    filter: progid:DXImageTransform.Microsoft.B;
    z-index: 9999;
}

marquee{
    
    width: 50%;
    margin-top: 6px;
    position: absolute;
    left: 8%;
    font-size: 14px;
}

marquee a,marquee a:hover,marquee a:active{
    color:white;
    text-decoration: underline;
}
.met_link{
    font-size: 16px;
    margin: 20px 0px;
    color: #000;
}
#content.signUpPrelogin{
    margin-top: 30px;
 }

 div.header-country-dropdown{
    display: inline;
    padding: 7px;
 }

 div.header-country-dropdown > ul{
    margin-top: 2px;
    margin-left: 6px;
    border-radius: 0px
 }

 @media screen and (max-width: 480px){
      #content.signUpPrelogin {
          margin-top: 0px;
      }
      .client-logo img{
      margin-bottom:15px;
      }
   }

@media screen and (min-width: 768px) and (max-width:1200px) {
    div.row-eq-height{
        display: table;
        width:100%;

    }
    div.row-eq-height>div[class*="col-"]{
        display: table-cell;
        flex: 1;
        -ms-flex: 1;
        -moz-flex: 1;
        -webkit-flex: 1;
        height: 100%;
        float:none;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
        button.btn-overhidden{
            overflow: hidden;
        }
}

.mobile-icon{
    height: 19px;
    margin-right: 20px;
}

.mail-icon{
    height: 15px;
    margin-right: 11px;
}

a.media{
    text-decoration: inherit;
    color: inherit;
    display: block;
}